name: CIDN Runner
run-name: CIDN Runner ${{ github.run_number }}

on:
  schedule:
    - cron: "*/40 * * * *"

  workflow_dispatch:

jobs:
  runner:
    runs-on: ubuntu-latest
    if: github.repository == 'DaoCloud/public-image-mirror'
    container: ghcr.io/opencidn/cidn/runner:v0.0.91
    steps:
    - shell: sh
      run: runner --handler-name=dc-${{ github.run_number }} --update-duration=10s --duration=4h --concurrency=3 ${{ secrets.ARGS_CIDN }}
